@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

#canvas {
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    cursor: defaut;
}

main {
    background: rgba(255,255,255,0.2);
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 15vh;
    display: block;
    position: relative;
    height: 250px;
    border-radius: 50px;

    text-align: center;
    cursor: default;

}

main p:hover {
    cursor: default;
}